events/migrations/0002_eventcomment.py
events/__pycache__/admin.cpython-34.pyc
events/migrations/__pycache__/0002_eventcomment.cpython-34.pyc
events/__pycache__/admin.cpython-34.pyc
**/__pycache__/
**/migrations/
media/audio
media/img
media/media_root
media/uploads
static/
*.pyc
db.sqlite3
*.pyc
yoda/settings.py
*.pyc
yoda/settings.py
*.pyc
yoda/settings.py
*.pyc
timetable/__pycache__/views.cpython-34.pyc
*.pyc
*.pyc