@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700&subset=cyrillic,cyrillic-ext);
.first-slide {
  background-image: url(/media/img/covers/bridge.jpg);
  background-position: center;
  background-size: 100% auto;
  width: 100%;
  min-height: 400px;
}
.title {
  margin-top: 100px;
  font-family: 'Ubuntu', 'Segoe UI', sans-serif;
  font-size: 48px;
  font-weight: 100;
  color: white;
}
.item-column {
  text-align: center;
  font-family: 'Ubuntu', 'Segoe UI', sans-serif;
}
.item-column img {
  width: 64px;
  height: auto;
}
.item-column b {
  font-weight: bold;
  font-size: 16px;
  color: #333;
}
.item-column span {
  font-weight: normal;
  font-size: 14px;
  color: #666666;
}
.left-col {
  font-family: 'Ubuntu', 'Segoe UI', sans-serif;
  padding: 20px 64px;
  box-sizing: border-box;
}
.left-col h1 {
  font-size: 36px;
  font-weight: lighter;
}
.left-col p {
  font-size: 16px;
  font-weight: normal;
  text-indent: 10px;
}
.footer {
  width: 100%;
  text-align: center;
}
@media (max-width: 480px) {
  .first-slide {
    min-height: 100px;
  }
  .title {
    margin-top: 36px;
  }
  .left-col {
    padding: 10px 5px;
    width: 100%;
    box-sizing: border-box;
  }
  .left-col p {
    text-align: justify;
  }
}
.preview-1 {
  background-color: #fff56c;
  color: #333;
  margin-right: -10px;
}
.preview-2 {
  background-color: #fff56c;
  color: #333;
}
