{% load humanize %}
<h3>Комментарии</h3>
{% if request.user.is_authenticated %}
<form class="ui form" method="POST" action="{{comment_url}}">
	{% csrf_token %}
	<textarea name="comment" rows="3" placeholder="Напишите комментарий..." required="true"></textarea>
	<input type="hidden" name="item_id" value="{{comment_item_id}}"><br><br>
	<button class="ui primary mini button" type="submit">Отправить</button>
</form>
{%endif%}
<div class="ui comments">
{% if not comments %}Комментариев еще нет. Вы можете стать первым
{%else%}
	{% for comment in comments %}
		<div class="comment">
			<a class="avatar"><img src="{{comment.avatar}}"></a>    
		    <div class="content">
			    <div class="summary">
			        <a class="author" href="/users/{{comment.user_id}}">{{comment.username}}</a>
			        <div class="metadata">
			        	<div class="date altrone-popup" data-content="{{comment.date}}">{{comment.date|naturaltime}}</div>
			        </div>
			    </div>
			    <div class="text">{{comment.text|linebreaks}}</div>
		    </div>
		  </div>
	{% endfor %}
{%endif%}
</div>