<div class="ui card">
  	<div class="image">
    	<img src="{{avatar}}" class="visible content">		    
  	</div>
  	<div class="content">
    	<div class="header">{{title}}</div>		  
    	<br>
    	<div class="ui two statistics">
		  	<div class="red statistic">
		    	<div class="value">{{xp}}</div><div class="label">{{xp_morph}}</div>
		  	</div>
		  	<div class="olive statistic">
		    	<div class="value">{{ach_counter}}</div><div class="label">{{ach_counter_morph}}</div>
		  	</div>
		  	<div class="blue statistic">
		    	<div class="value">{{actions|length}}</div><div class="label">{{actions_morph}}</div>
		  	</div>
		  	<div class="statistic">
		    	<div class="text value" style="font-size:1.80rem; padding-top: 10px;">{{rank}}</div><div class="label" style="margin-top:0.3rem">звание</div>
		  	</div>				  
		</div>  
		<br>
		<a href='/notes/2'>Что это?</a>	
  	</div>
</div>
{% if request.user == user %}
<div class="ui card">
	<div class="content">
		<a href="/users/settings"><button class="ui labeled icon button"><i class="photo icon"></i>Изменить аватар</button></a>
		<a href="/users/settings"><button class="ui icon button"><i class="setting icon"></i></button></a>
	</div>
</div>
{%endif%}

<div class="ui card">
	<div class="content">
		<div class="header">Контакты</div>	
		<div class="ui relaxed divided list">
		  	{% if contacts.vk %}
		  	<div class="item">
		    	<i class="blue large vk middle aligned icon"></i>
			    <div class="content">
			      	<a class="header" href="https://vk.com/{{contacts.vk}}">ВКонтакте</a>
			      	<div class="description">{{title}}</div>
			    </div>
		  	</div>
		  	{% endif %}		
		  	{% if contacts.twitter %}
		  	<div class="item">
		    	<i class="teal large twitter middle aligned icon"></i>
			    <div class="content">
			      	<a class="header" href="https://twitter.com/{{contacts.twitter}}">Twitter</a>
			      	<div class="description">{{title}}</div>
			    </div>
		  	</div>	
		  	{% endif %}	
		  	{% if contacts.facebook %}
		  	<div class="item">
		    	<i class="blue large facebook square middle aligned icon"></i>
			    <div class="content">
			      	<a class="header" href="https://facebook.com/{{contacts.facebook}}">Facebook</a>
			      	<div class="description">{{title}}</div>
			    </div>
		  	</div>	
		  	{% endif %}	
		  	{% if contacts.phone %}
		  	<div class="item">
		    	<i class="large phone middle aligned icon"></i>
			    <div class="content">
			      	<a class="header">Номер телефона</a>
			      	<div class="description">{{phone}}</div>
			    </div>
		  	</div>	
		  	{% endif %}	
		  	<div class="item">
		    	<i class="large mail outline middle aligned icon"></i>
			    <div class="content">
			      	<a class="header">Электронная почта</a>
			      	<div class="description">{{user.email}}</div>
			    </div>
		  	</div>	
		  	<br>
		  	<p><a href="/users/settings/">Добавить контакты</a></p>
		</div>		  
	</div>
</div>

<div class="ui card">
  	<div class="content">
    	<div class="header">Мои друзья</div>	
    	<div class="ui middle aligned selection list">  
    		{% for friend in friends %}					
			<div class="item">						
			    <img class="ui avatar image" src="{{friend.avatar}}">
			    <div class="content"><a href="/users/{{friend.user_id}}"><div class="header">{{friend.username}}</div></a></div>
		  	</div>				  	
    		{%endfor%}
    		{% if not friends %}У вас нет друзей :( {%endif%}
    	</div>
  	</div>
</div>