{% extends 'basic/base.html' %}
{% block content %}
{% include 'basic/taskbar.html' %}
{% include 'basic/taskbar_end.html' %}
<div class="ui grid">
	<div class="one wide column"></div>
	<div class="ten wide column">
		<div class="ui breadcrumb">
		  	<a class="section" href='/polls/'>Опросы</a>
		  	<span class="divider">/</span>
		  	<div class="active section"> Создание опроса </div>
		</div>
		{% if error %}
			<div class="ui negative message">
			  	<i class="close icon"></i>
			  	<div class="header">
			    	Создать опрос не удалось
			  	</div>
			  <p>{{ error_text }}
			</p></div>
		{% endif %}

		<div class="ui form">
			<form action='' method='post'>
				<h1> Создание опроса </h1>
				{% csrf_token %}
				{{form.as_p}}
				<button class="ui labeled icon green button" type="submit"> <i class="checkmark icon"></i>Создать</button>
			</form>	
		</div>
	</div>
	<div class="one wide column"></div>
	<div class="four wide column">
		
	</div>
</div>
{% endblock %}