{% extends 'basic/base.html' %}
{% block title %}{{title}}{% endblock %}
{% block content %}
{% include 'basic/taskbar.html' %}
{% include 'basic/taskbar_end.html' %}
<div class="ui grid">
	<div class="one wide column"></div>
	<div class="ten wide column">
		<div class="ui breadcrumb">
		  	<a class="section" href='/timetable/'>Расписание</a>
		  	<span class="divider">/</span>
		  	<div class="active section"> Добавить домашнее задание </div>
		</div>
		{% if error %}
			<div class="ui negative message">
			  	<i class="close icon"></i>
			  	<div class="header">
			    	Не удалось добавить домашнее задание
			  	</div>
			  <p>{{ error_text }}
			</p></div>
		{% endif %}

		<div class="ui form">
			<form action='' method='post'>
				<h1> Добавить домашнее задание </h1>
				{% csrf_token %}
				{{form.as_p}}
				<button class="ui labeled icon green button" type="submit"> <i class="checkmark icon"></i>Добавить</button>
			</form>	
		</div>
	</div>
	<div class="one wide column"></div>
	<div class="three wide column">
		<h3>Примечание</h3>
		Домашнее задание можно добавить максимум на две недели вперед. Через две недели, оно пропадает из базы
		<br>
		<br>
		<a href="/timetable" target="_blank">Посмотреть на расписание</a>
	</div>
</div>
{% endblock %}