{% extends 'basic/beta_base.html' %}
{% block title %}{{title}}{% endblock %}
{% block more_head %}
{% endblock %}
{% block content %}
<div class="grid">
	<div class="col-12">
		<div class="tabs tabs--color-{{request.user.userprofile.accent}} {% if request.user.userprofile.theme == 'dark' %}tabs--invert{% endif%}">
			<div class="tabs__item tabs__item--active">Блог разработки</div>
			<div class="tabs__item">Баг-репорты и предложения</div>
		</div>
	</div>
	<div class="col-4 {% if request.user.userprofile.theme == 'dark' %}d-gray-bg{% endif%}">
		{% if request.user.is_superuser %}
		<button class="button--color-{{request.user.userprofile.accent}} button--only-borders button--no-smooth button--icon"><i class="flaticon-edit"></i>Добавить запись</button>
		{% endif %}
	</div>
	<div class="col-8 padding-1">

	</div>
</div>
{% endblock %}