{% extends 'basic/base.html' %}
{% block title %}{{title}}{% endblock %}
{% block content %}

{% include 'basic/taskbar.html' %}
{% if user.is_authenticated %}	  	
	<div class="item"><a href="/notes/add"><div class="ui labeled icon primary button"><i class="write icon"></i>Создать</div></a></div>
{% endif %}
{% include 'basic/taskbar_end.html' %}
{% load humanize %}
<div class="ui grid">
	<div class="one wide column"></div>
	<div class="ten wide column">
		<h1> Последние заметки: </h1>
		{% if bingo %}
			{% include 'basic/bingo-bonus.html' %}
		{% endif %}
		{% if bonus.xp or bonus.is_item %}
			{% include 'basic/everyday_bonus.html' %}
		{% endif %}
		<div class="ui relaxed divided list">
		{% for note in notes %}
		  	<div class="item">
		    	<i class="large file text outline middle aligned icon"></i>
		    	<div class="content">
		      		<a class="header" href="/notes/{{note.id}}">{{note.title}}</a>
		      		<div class="description"><i class="unhide icon"></i> {{note.views}} | <span class="altrone-popup" data-content="{{note.pub_date}}"><i class="calendar icon"></i> {{note.pub_date|naturaltime}}</span></div>
		    	</div>
		  	</div><br>  
		{% endfor %}
		</div>
	</div>
	<div class="five wide grid"></div>
</div>

{% endblock %}