{% extends 'basic/beta_base.html' %}
{% block title %}{{title}}{% endblock %}
{% block more_head %}
	<link href="/media/static/css/more_css/timetable.css" rel="stylesheet"/>
	<script type="text/javascript" src="/media/static/js/more_js/timetable.js"></script>
{% endblock %}
{% block bodyclass %}{{request.user.userprofile.theme}}-bg{% endblock %}
{% block content %}
<div class="card  {% if request.user.userprofile.theme == 'dark'%}card--color-black card--colored{%endif%} card--no-smooth" style="margin-left: 0.25em; margin-right: 0.25em; overflow: hidden;">
	<div class="card__content card__content--no-padding">
		
		<div class="horizontal-layout horizontal-layout--centered">
			<div class="column">
				<button class="button--icon-only button--color-black button--transparent-full"><i class="flaticon-settings"></i></button>
				<button class="button--icon button--color-black button--transparent-full"><i class="flaticon-save"></i> Сохранить как изображение</button>
			</div>
			<div class="column column--centered">
				<div class="button-group">
					<button class="button--icon-only button--color-black button--transparent-full showPrevDay"><i class="flaticon-left"></i></button>
					<button class="button--color-black bold button--transparent-full" id="currentDayLabel">{% now "j E" %}</button>
					<button class="button--icon-only button--color-black button--transparent-full showNextDay"><i class="flaticon-right1"></i></button>
				</div>
			</div>
			<div class="column">
				<div class="tabs tabs--pin-right tabs--transparent">
					<div class="tabs__item active">День</div>
					<div class="tabs__item">Неделя</div>
					<div class="tabs__item">Месяц</div>
				</div>
			</div>
		</div>

		<div class="horizontal-layout">
			<div class="column" style="flex: 2;">				
				<div class="day-timetable" id="dayTimetableView">					
				</div>
			</div>
			<div class="column shadow-2">
				<div class="{{request.user.userprofile.accent}}-bg padding-3 white-fg" style="width: 100%; height: auto;">
					<div class="horizontal-layout">
						<div class="column"><div class="helvetica-ultra" style="font-size: 6em;" id="currentDayNumber"></div></div>
						<div class="column" style="flex: 3">
							<div class="helvetica-ultra" style="font-size: 3em; text-transform: lowercase;" id="currentDayMonth"></div><br>
							<div class="helvetica-medium" style="font-size: 0.8em; text-transform: uppercase;" id="currentDayWeekType"></div>
						</div>
					</div>
				</div>
				<div class="grid margin-vertical-1">
					<div class="col-4 align-center">
						<span class="weather-icons {{request.user.userprofile.accent}}-fg" style="font-size: 6em;">{{weather.icon}}</span>
					</div>
					<div class="col-6">
						<div style="font-size: 3em;" class="helvetica-thin">
						{{weather.main.temp}} <span class="weather-icons">l</span></div>
						<br>{{weather.rus}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	

{% verbatim %}
<script src="text/html" id="DayTimetableItemTemplate">
	<div class="day-timetable__time">{{time}}</div>
	<div class="day-timetable__content {{type_css}}">
		<div class="day-timetable__title">{{title}}</div>
		<div class="day-timetable__meta">{{teacher}}
		<br>{{place}} - {{type}}</div>
	</div>
</script>

<script src="text/html" id="DayTimetableHoliday">
	<div class="align-center">
		<h1 class="helvetica-thin"><i class="flaticon-star"></i><br>Выходной</h1>
		<p class="helvetica-light">На этот день пар не назначено</p>
		<button class="showNextDay">Расписание на следующий день</button>
	</div>
</script>
{% endverbatim %}

{% endblock %}