@import url(http://fonts.googleapis.com/css?family=PT+Sans:700,400);
.pt {
  font-family: 'PT Sans', 'Segoe UI', sans-serif;
}
.pt {
  font-family: 'PT Sans', 'Segoe UI', sans-serif;
}
@media screen and (min-width: 40.5em) {
  html {
    height: 100%;
    background: url(/media/background/sign-in-pc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .users-list {
    margin: 3em;
  }
  .users-list .users-list__item {
    padding: 1em 1.5em;
    width: 25%;
  }
  .users-list .users-list__item img {
    width: 80px;
    height: 80px;
  }
}
@media screen and (min-width: 1024px) {
  .users-list {
    width: 70%;
    margin: 3em 15%;
  }
  .users-list .users-list__item {
    padding: 1em 1.5em;
    width: 20%;
  }
  .users-list .users-list__item img {
    width: 80px;
    height: 80px;
  }
}
@media screen and (min-width: 1520px) {
  .users-list {
    width: 50%;
    margin: 3em 25%;
  }
  .users-list .users-list__item {
    padding: 1em 1.5em;
    width: 16.66%;
  }
  .users-list .users-list__item img {
    width: 80px;
    height: 80px;
  }
}
