@import url(http://fonts.googleapis.com/css?family=PT+Sans:700,400);
.pt {
  font-family: 'PT Sans', 'Segoe UI', sans-serif;
}
.pt {
  font-family: 'PT Sans', 'Segoe UI', sans-serif;
}
html {
  height: 100%;
  background: url(/media/background/sign-in-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
body {
  height: 100% !important;
}
.users-list {
  background-color: #ffffff;
  display: table;
  text-align: center;
  margin: 0.5em;
  position: absolute;
  color: #333333;
  z-index: 2;
  padding: 0px;
  border-radius: 0.25em;
  display: none;
}
.users-list .users-list__item {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-family: 'PT Sans', 'Segoe UI', sans-serif;
  transition: all 0.3s linear;
  padding: 0.5em 1em;
  width: 50%;
  float: left;
  box-sizing: border-box;
  cursor: pointer;
}
.users-list .users-list__item:hover {
  background-color: #f5f5f5;
  color: #2185d0;
  transition: all 0.3s linear;
}
.users-list .users-list__item:active,
.users-list .users-list__item.users-list__item--active {
  background-color: #9bcbef;
  color: #333333;
}
.users-list .users-list__item img {
  width: 64px;
  height: 64px;
}
.users-list .users-list__item:last-child {
  clear: right;
}
.switch-user-btn {
  display: none;
  width: 82px;
  height: 81px;
  border-radius: 50%;
  color: #333333;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding-top: 22px;
  margin-left: -89px;
  margin-top: 4px;
  box-sizing: border-box;
  cursor: pointer;
}
#currentUser {
  cursor: pointer;
}
